@charset "UTF-8";

body{
   background-image: url("http://localhost:8080/bookMan/BOOK.jpg");
  font-family: "メイリオ";
  color: #696969;
  font-weight:100;
  width:100%; /*ページ全体の幅は100%と指定する*/
  text-align:center; /*ページ全体を中央揃えにする*/
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
ul li {
    list-style: none;
}

label {
    margin-right: 10px;
    width:100px;
    float: left;
}

ul {
    width: 300px;
    margin: 0 auto;
}
wrap{
  width: 960px;    /*全体の幅を指定する*/
  margin: 0 auto;    /*マージンの指定をする、ブラウザ対策*/
  text-align:left;   /*全体を左揃えにする。*/
}

.header{
  margin-top: 20px;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background: #F9DAD6;
  display: flex;
  align-items: center;
}
.header__inner{
  max-width: 1152px;
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header__logo{
  flex: none;
  width: auto;
  height: 90px;
}
.header__user{

  max-width: 1152px;
  width: 90%;
  height: 100%;
  text-align: right;
}

table {
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;


    border-collapse: separate;  /* 表の線と線の間を空ける */
    border-spacing:  5px;       /* 表の線と線の間の幅 */
}

th,td {
    padding: 5px 10px;          /* 余白指定 */
}

th {
    background-color:  #FFFFFF; /* 背景色指定 */
    font-weight:  normal;       /* 文字の太さ指定 */
}

td {
    background-color:   #F9DAD6; /* 背景色指定 */
}

thead{
   font-size : 20;

}

textarea {
    border-radius: 10px;
}




input[type="submit"]{
    background: #FA8072;
    border: none;
    color: #fff;
    font-size:15px;
    font-weight:bold;
    padding: 10px 10px;
    margin: 0 10px;
    border-radius: 10px;
}

footer{
  display: flex;
  margin-top: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  text-align: center;
  background: #fff9f9;
  display: flex;
  align-items: center;
  justify-content: center;
}



